<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>

<div style="text-align:center">
  <div><input #Title type='text' placeholder='Title'></div>
  <div><input #Author type='text' placeholder='Author'></div>
  <div><input #year type='number' placeholder='Year'></div>
  <div><input #description type='textField' placeholder='Description'></div>
  <button (click)="add(Title.value, Author.value,
    year.value, description.value)"> Add Book </button>
</div>

<ul style="list-style-type:none">
  <li *ngFor="let book of books">
    <h2>
      {{ book.Title | uppercase}}
    </h2>
    <h3>
      <div>{{ book.Author }}</div>
      <div>{{ book.year }}</div>
      <div>{{ book.description }}</div>
    </h3>
    <button (click)="delete(book.id)"> Delete </button>
  </li>
</ul>

{{ error?.message }}